BROWSER_USE_DOMAIN=browser.hirealpha.chat
HIREALPHA_APP_URL=https://hirealpha.chat

DATABASE_URL=
SESSION_SECRET=
KERNEL_API_KEY=
KERNEL_PROJECT_ID=
KERNEL_TELEMETRY=true
KERNEL_SESSION_SECONDS=3600
HIREALPHA_TASK_RECORD=1
HIREALPHA_RECEIPT_GATE=1

GMI_API_KEY=
GMI_BASE_URL=https://api.gmi-serving.com/v1
AGENT_VISION_MODEL=zai-org/GLM-5.3-Flash
KERNEL_AGENT_DRIVER=browser-use
BROWSER_USE_MAX_STEPS=40

CHROME_VNC_PASSWORD=
BROWSER_SCREEN_SIZE=1280x800x24

OP_SERVICE_ACCOUNT_TOKEN=
OP_VAULT_ID=
HIREALPHA_VAULT_KEY=
OPENBAO_ADDR=
OPENBAO_TOKEN=
USER_SPEND_MAX_CENTS=20000
